[submodule "Dev-CashManager-Android-Bootstrap"]
	path = Dev-CashManager-Android-Bootstrap
	url = https://github.com/ReyLinn/Dev-CashManager-Android-Bootstrap.git
[submodule "Dev-CashManager-Android"]
	path = Dev-CashManager-Android
	url = https://github.com/ReyLinn/Dev-CashManager-Android.git
[submodule "Dev-CashManager-Server"]
	path = Dev-CashManager-Server
	url = https://github.com/ReyLinn/Dev-CashManager-Server.git
